body{
    margin: 0;
    padding: 0;
    background-position: top;
    background:linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    font-family: sans-serif;
    
}

.logo a{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    color:white;
    background: rgb(255, 21, 21);
    font-size: xx-large;
    font-family: 'impact';
    width: 100px;
    height: 38px;
    top: 8%;
    left: 50%;
    text-decoration: none;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.fpassbox{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.fpassbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.fpassbox input{
    width: 100%;
    margin-bottom: 20px;
}

.fpassbox input[type="text"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.fpassbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(255, 21, 21);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.fpassbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
    color: #000;
}