body{
    margin: 0;
    padding: 0;
    background: black;
    background-size: cover;
    background-position: top;
    font-family: 'sans-serif'; 
    background-repeat:no-repeat;
}

.nav{ 
    position: fixed;
    left:0%;
    height: 75px;
    width: 100%;
    transition: 0.3s;
    background: rgba(0,0,0,0.7);
}

.nav a{
    font-size: 13px;
    float: right;
    top: 20%;
    right:8%;
    text-decoration: none;
    padding: 29px 50px;
    color: white;
    font-family: 'verdana';
}

.nav a:hover{
    background: red;
}

.nav .logo a{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    color:white;
    background: rgb(255, 21, 21);
    font-size: xx-large;
    font-family: 'impact';
    width: 100px;
    height: 38px;
    top: 50%;
    left: 5%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

.heading p{
    margin: 0;
    left:40%;
    font-size: 60px;
    color:white;
    font-family: 'impact';
    top: 23%;
    align-content: center;
    position: absolute;
    text-justify:auto;
}

.line p{
    left:17%;
    align-content: center;
    font-size: 25px;
    color:white;
    font-family: 'terminal';
    top: 40%;
    position: absolute;
    text-align:center;
}

.scifi p{
    left:64%;
    align-content: center;
    font-size: 25px;
    color:white;
    font-family: 'terminal';
    top: 90%;
    position: absolute;
    text-align:center;
}

.animated p{
    left:10%;
    align-content: center;
    font-size: 25px;
    color:white;
    font-family: 'terminal';
    top: 190%;
    position: absolute;
    text-align:center;
}

input[type="submit"]
{
    border: none;
    font-family: 'impact';
    outline: none;
    height: 40px;
    background: rgb(255, 21, 21);
    color: #fff;
    font-size: 22px;
    top: 18%;
    margin-left: 45%;
}
input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
    color: red;
}

img{
    top:11%;
    height:100%;
    width:98%;
    margin-left:1%;
}

.scifi img{
    height:40%;
    width:50%;
    margin-left:1%;
}

.scifi input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(255, 21, 21);
    color: #fff;
    font-size: 20px;
    top:116%;
    position: absolute;
    margin-left: 23%;
    font-family: 'terminal';
    
}

.scifi input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
    color: #000;
}

.animated input[type="submit"]
{
    border: none;
    font-family: 'sans-serif';
    outline: none;
    height: 40px;
    background: rgb(255, 21, 21);
    color: #fff;
    font-size: 20px;
    top:216%;
    position: absolute;
    right: 72%;
    
}

.animated input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
    color: #000;
}

.animated img{
    height:40%;
    width:50%;
    margin-left:48.5%;
}

.footerlogo{
     height:6%;
    width:8%;
    left:47%;
    position: absolute;
}

.footer p{
    margin-left:44%;
    color:white;
}

.visit a p{
    border: none;
    font-family: 'Impact';
    outline: none;
    width: 200px;
    height: 28px;
    background: rgb(255, 21, 21);
    color: #fff;
    font-size: 20px;
    text-align: center;
    top:61.5%;
    padding: 2px 2px;
    position: absolute;
    right: 43%;
}
.visit a p:hover{
    background: #fff;
    color: #000;
}